#about {
    @include flex(flex, row, wrap, center, center);
    
    .about__container {
        @include flex(flex, row, wrap, space-between, center);
        padding: 60px;
        height: 75vh;
        @media (max-width: 768px) {
            height: 90%;
            padding: 15px 40px;
        }

        .about__info {
            z-index: 2;
            width: 45%;

            @media (max-width: 768px) {
                width: 100%;
            }

            .about__tittle {
                color: $Blanco;   
                span {
                    border-bottom: 5px solid $Naranja;
                    border-radius: 4px 0;
                }

                @media (max-width: 768px) {
                    font-size: 30px;
                    padding-top: 1.5em;
                }

            }

            .about__text {
                @include textos($Blanco, 22px, 300, 1.6, left);
                width: 490px;
                margin: 30px 0;
                @media (max-width: 768px) {
                    font-size: 20px;
                    width: 100%;
                 }
            }
        }
  
        .about__logo {
            @include flex(flex, row, wrap, center, center);
            width: 45%;
            @media (max-width: 768px) {
                width: 100%;
            }

            .about__img {
                --animate-duration: 15s;
                max-width: 90%;
                position: relative;
                left: 4em;
                @media (max-width: 768px) {
                    width: 90%;
                    left: 0;
                }
            }
        }
    }    
}

/* #brands {
    background-color: $Naranja;
    height: 45vh;
    @media (max-width: 768px) {
        height: 21em;
    }

    .brands__tittle {
        @include textos($Blanco, 30px, 600, 1, center);
        padding: 40px 0;
        span {
            border-bottom: 5px solid $Celeste;
            border-radius: 4px 0;
        }
        @media (max-width: 768px) {
            font-size: 22px;
         }
    }

    .owl-carousel {
        width: 80%;
        padding-top: 20px;
        margin: auto;

        .item {
            @include flex(flex, row, wrap, center, center);
            a {
                img{
                    max-width: 120px;
                    transition: .3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .owl-dot {
            span {
              margin-top: 30px; 
              background-color: $Blanco;
              transition: .5s; 
            } 
            &:hover span {
                background-color: $Celeste; 
            }          
        }
    }
} */