#about {
    background-color: $Celeste;

    .about__content{
        height: 80vh;
        @include flex(flex, row, wrap, center, center);

        @media (max-width: 768px) {
            height: 85%;
            padding: 15px 40px;
        }

        @media (min-width: 769px) and (max-width: 1200px) {
            height: 70vh;
            width: 100%;
            padding: 15px 40px;
            flex-direction: column;
        }
        
        .content__info {
            width: 500px;
            z-index: 2;

            @media (max-width: 768px) {
               width: 100%;
            }
            @media (min-width: 769px) and (max-width: 1200px) {
                width: 65%;
            }

            .info__tittle {
                color: $Blanco;
                display: inline-block;

                @media (max-width: 768px) {
                    font-size: 30px;
                    padding-top: 4em;
                 }

                i {
                    font-size: 50px;
                    margin-left: 10px;
                    @media (max-width: 768px) {
                        font-size: 35px;
                    }
                }
            }

            .info__text {
                @include textos($Blanco, 23px, 200, 1.6, left);
                margin-top: 20px;

                @media (max-width: 768px) {
                    font-size: 20px;
                 }
            }
        }

        .content__logo {
            width: 415px;

            @media (max-width: 768px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            @media (min-width: 769px) and (max-width: 1200px) {
                width: 60%;
                display: flex;
                justify-content: center;
            }

            .content__img {
                --animate-duration: 15s;
                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }
        }
    }
}

#companies {
    background-color: $Naranja;
    height: 50vh;
    @media (max-width: 768px) {
        height: 100%;
    }
    @media (min-width: 769px) and (max-width: 1200px) {
        height: 26vh;
    }
    

    .cpn__content{
        width: 950px;
        margin: auto;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            width: 100%;
        }
        @media (min-width: 769px) and (max-width: 1200px) {
            width: 99%;
        }

        .cpn__tittle {
            color: $Blanco;
            font-size: 30px;
            padding: 40px 0;
            .h3__sub {
                @extend .h1__sub;
                border-color: $Celeste;
            }


            @media (max-width: 768px) {
                font-size: 20px;
                text-align: center;
            }
            @media (min-width: 769px) and (max-width: 1200px) {
                text-align: center;
                width: 100%;
            }
        }
   
        .owl-carousel {
            width: 950px;
            margin: auto;
            @media (max-width: 768px) {
                width: 100%;
            }
            @media (min-width: 769px) and (max-width: 1200px) {
                width: 100%;
            }

            .item {
                margin: 20px 30px 0 30px;
                max-width: 120px;
                transition: 0.7s;
                filter: grayscale(1);
                &:hover{
                    transform: scale(1.1);
                    filter: none;
                }
                @media (max-width: 768px) {
                    filter: none;
                }
                @media (min-width: 769px) and (max-width: 1200px) {
                    filter: none;
                }
            }

            .owl-nav {
                display: flex;
                justify-content: center;
                
                span {
                    font-size: 55px;
                    color: $Blanco;
                    padding: 0 20px;
                }
            }
        }   
    }
}