#team {

    .team__tittle {
        color: $Blanco;
        text-align: center;
        padding-top: 50px;

        @media (max-width: 768px) {
            padding-top: 1.5em;
            font-size: 35px;
        }
    }

    .team__subtittle {
        @include textos($Blanco, 22px, 200, 1, center);
        padding: 25px 0 20px 0;

        @media (max-width: 768px) {
            width: 85%;
            margin: auto;
            font-size: 19px;
            line-height: 1.5;
        }
    }

    .team__container {
        @include flex(flex, row, wrap, center, center);
        padding: 10px;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        .team__boxizq {
            display: flex;
            justify-content: center;
            padding: 20px;
            width: 45%;
            &:hover img{
                transform: translateX(-9em);
                @media (max-width: 768px) {
                    transform: translateX(-5.5em);
                }
            }
            &:hover .team__info--izq{
                opacity: 1;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            img {
                max-width: 270px;
                position: relative;
                left: 10em;
                z-index: 3;
                transition: 1s;
                @media (max-width: 768px) {
                    left: 6em;
                    max-width: 180px;
                    height: 350px;
                }
            }

            .team__info--izq {
                padding: 20px;
                opacity: 0;
                transition: opacity 1.5s;
                @media (max-width: 768px) {
                    padding: 0;
                    position: relative;
                    right: 1em;
                    top: 2em;
                }

                h4 {
                    color: $Blanco;
                    font-size: 33px;
                    margin: 50px 0 0 0;
                    padding: 0;
                    @media (max-width: 768px) {
                        font-size: 25px;
                        margin: 0;
                    }
                }
                h5 {
                    display: inline-block;
                    color: $Blanco;
                    font-size: 25px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    padding: 0;
                    margin: 15px 0px;

                    @media (max-width: 768px) {
                        font-size: 18px;
                        margin: 5px 0;
                    }
                }
                p {
                    @include textos($Blanco, 18px, 200, 1.5, left);
                    width: 215px;
                    @media (max-width: 768px) {
                        font-size: 15px;
                        width: 165px;
                        padding: 10px;
                    }
                }
            }
        }

        .team__boxder{
            display: flex;
            justify-content: center;
            text-align: right;
            padding: 20px;
            width: 45%;
            &:hover img{
                transform: translateX(9em);
                @media (max-width: 768px) {
                    transform: translateX(4.5em);
                }
            }
            &:hover .team__info--der{
                opacity: 1;
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            img {
                max-width: 270px;
                position: relative;
                right: 10em;
                transition: 1s;
                @media (max-width: 768px) {
                    max-width: 180px;
                    height: 350px;
                    right: 5em;
                }
            }

            .team__info--der {
                padding: 20px;
                opacity: 0;
                transition: opacity 1.5s;
                @media (max-width: 768px) {
                    padding: 0;
                    position: relative;
                    left: 1em;
                }

                h4 {
                    color: $Blanco;
                    font-size: 33px;
                    margin: 50px 0 0 0;
                    padding: 0;
                    @media (max-width: 768px) {
                        font-size: 25px;
                    }
                }
                h5 {
                    display: inline-block;
                    color: $Blanco;
                    font-size: 25px;
                    font-weight: 500;
                    letter-spacing: .5px;
                    padding: 0;
                    margin: 15px 0px;

                    @media (max-width: 768px) {
                        font-size: 18px;
                        margin: 5px 0;
                    }
                }
                p {
                    @include textos($Blanco, 18px, 200, 1.5, right);
                    width: 215px;
                    @media (max-width: 768px) {
                        font-size: 15px;
                        width: 165px;
                        padding: 10px 0px 0px 5px;
                    }
                }   
                .team__info--modificar {
                    @media (max-width: 768px) {
                        padding: 5px 18px 5px 2px;
                    }
                }
            }
        }
    }
}
