/* ------ COLORS -------- */
/* TITULOS */
/* ---- MIXINS ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5A93B9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 45px "Poppins", sans-serif;
  cursor: default;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  z-index: 4;
}
header.header__notop {
  top: 0px;
}
header .menu__open, header .menu__close {
  display: none;
}
header .logo__mobile--header {
  display: none;
}
@media (min-width: 769px) and (max-width: 1200px) {
  header {
    top: 2.5em;
  }
}
@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 3;
  }
  header .mobile__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;
    background: #F7F8FB;
    position: -webkit-sticky;
    position: sticky;
    border-radius: 0 0 25px 25px;
    box-shadow: 3px 3px 3px #0000004a;
  }
  header .mobile__header .menu__open {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 25%;
    width: 25px;
  }
  header .mobile__header .logo__mobile--header {
    display: inline-block;
    position: absolute;
    max-width: 88px;
    top: -6px;
  }
  header #nav:target {
    top: 0;
    box-shadow: 3px 3px 3px #0000004a;
  }
}
header .navbar__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70em;
  height: 75px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #F7F8FB;
  margin: auto;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 3px 3px 3px #0000004a;
}
header .navbar__menu.navbar__menu--notop {
  width: 100%;
  border-radius: 0;
}
@media (max-width: 768px) {
  header .navbar__menu.navbar__menu--notop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 30em;
    position: fixed;
    top: -50em;
    background-color: #F7F8FB;
    border-radius: 0px 0px 30px 30px;
    transition: 0.7s;
    box-shadow: none;
  }
}
@media (max-width: 768px) {
  header .navbar__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 30em;
    position: fixed;
    top: -50em;
    background-color: #F7F8FB;
    border-radius: 0px 0px 30px 30px;
    transition: 0.7s;
    box-shadow: none;
  }
  header .navbar__menu .menu__close {
    display: inline-block;
    position: absolute;
    top: 8%;
    left: 85%;
    width: 23px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  header .navbar__menu {
    position: relative;
    width: 90%;
  }
}
header .navbar__menu .navbar__elementos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 9px;
}
@media (max-width: 768px) {
  header .navbar__menu .navbar__elementos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  header .navbar__menu .navbar__elementos .logo__mobile {
    position: absolute;
    bottom: 94%;
  }
}
header .navbar__menu .navbar__elementos .navbar__elemento {
  margin: 0 30px;
}
@media (max-width: 768px) {
  header .navbar__menu .navbar__elementos .navbar__elemento {
    margin: 17px 0;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  header .navbar__menu .navbar__elementos .navbar__elemento {
    margin: 0 11px;
  }
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link {
  color: #5A93B9;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 3px 0 5px 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 4px;
  transition: 0.5s;
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link::before, header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: #FA902E;
  transition: 0.5s;
  opacity: 0;
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link::before {
  border-radius: 5px 5px 0 0;
  top: -6px;
  left: 0;
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link::after {
  border-radius: 0 0 5px 5px;
  bottom: -3px;
  right: 0;
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link:hover {
  color: #FA902E;
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link:hover::before, header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link:hover::after {
  opacity: 1;
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 768px) {
  header .navbar__menu .navbar__elementos .navbar__elemento .navbar__link {
    border-bottom: 4px solid #FA902E;
    padding: 7px 0 4px 0;
  }
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__logo {
  position: relative;
  top: 12px;
  max-width: 99px;
  transition: 0.7s;
}
header .navbar__menu .navbar__elementos .navbar__elemento .navbar__logo:hover {
  animation-name: rotateLogo;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}
@media (max-width: 768px) {
  header .navbar__menu .navbar__elementos .navbar__elemento .navbar__logo {
    top: 0;
  }
}

.btn__backhome, #contact .contact__container .contact__text .btn__backhome--contact {
  display: block;
  margin: 30px auto;
  position: relative;
  width: 160px;
  color: #F7F8FB;
  background: transparent;
  padding: 15px 20px;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
}
.btn__backhome:hover, #contact .contact__container .contact__text .btn__backhome--contact:hover {
  border: 2px solid #FA902E;
  background: #FA902E;
  color: #F7F8FB;
}
@media (max-width: 768px) {
  .btn__backhome, #contact .contact__container .contact__text .btn__backhome--contact {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .btn__backhome, #contact .contact__container .contact__text .btn__backhome--contact {
    display: none;
  }
}

.btn__mobilehome {
  display: none;
  position: fixed;
  top: 90%;
  color: #F7F8FB;
  background-color: #FA902E;
  margin: 10px;
  padding: 7px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #00000026;
  z-index: 3;
}
.btn__mobilehome img {
  max-width: 30px;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .btn__mobilehome img {
    max-width: 50px;
  }
}
@media (max-width: 768px) {
  .btn__mobilehome {
    display: inline-block;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .btn__mobilehome {
    display: inline-block;
  }
}

.tittle__icon {
  max-width: 50px;
  margin: 0 10px;
}

.h1__sub {
  border-bottom: 5px solid #FA902E;
  border-radius: 4px 0;
}

@keyframes colors {
  0% {
    background-color: #F7F8FB;
  }
  25% {
    background-color: #FA902E;
  }
  50% {
    background-color: #5A93B9;
  }
  75% {
    background-color: #FA902E;
  }
  100% {
    background-color: #F7F8FB;
  }
}
#home {
  background-image: url("../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@media (max-width: 768px) {
  #home {
    background-size: cover;
    background-position-y: 0em;
    background-position-x: -17.5em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #home {
    background-size: cover;
    background-position-y: 0;
    background-position-x: right;
  }
}
#home .home__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 89em;
  margin: auto;
  position: relative;
  top: 14em;
}
@media (max-width: 768px) {
  #home .home__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 27%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #home .home__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 16em;
  }
}
#home .home__content .home__tittles h1 {
  color: #F7F8FB;
  font-size: 86px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  display: inline-block;
  text-shadow: 4px 4px 6px #0000008c;
}
@media (max-width: 768px) {
  #home .home__content .home__tittles h1 {
    font-size: 49px;
  }
}
#home .home__content .home__tittles figure {
  background: #F7F8FB;
  box-shadow: 4px 4px 6px #0000008c;
  height: 4px;
  animation-name: colors;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#home .home__content .home__tittles h2 {
  color: #F7F8FB;
  font-size: 57px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  margin-top: 20px;
  text-shadow: 4px 4px 6px #0000008c;
}
#home .home__content .home__tittles h2 span {
  color: #FA902E;
}
@media (max-width: 768px) {
  #home .home__content .home__tittles h2 {
    font-size: 34px;
  }
}
#home .home__content .home__tittles h3 {
  color: #F7F8FB;
  font-size: 26px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  margin-top: 10px;
  text-shadow: 4px 4px 6px #0000008c;
}
@media (max-width: 768px) {
  #home .home__content .home__tittles h3 {
    font-size: 16px;
  }
}
#home .home__content .home__card {
  width: 15em;
  height: 17em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 1em;
  background-color: #fbfcffbf;
  box-shadow: 4px 4px 6px #0000008c;
  padding: 20px;
  border-radius: 15px;
  transition: 0.8s;
}
#home .home__content .home__card:hover {
  transform: translateY(-0.6em);
}
@media (max-width: 768px) {
  #home .home__content .home__card {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #home .home__content .home__card {
    top: 7em;
  }
}
#home .home__content .home__card img {
  max-width: 70px;
}
#home .home__content .home__card p {
  color: #5A93B9;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
}
#home .home__content .home__card .home__card--btn {
  color: #F7F8FB;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #FA902E;
  transition: 0.3s;
}
#home .home__content .home__card .home__card--btn:hover {
  box-shadow: inset 10px 9px 9px -4px rgba(0, 0, 0, 0.38);
}
#home .home__mobile--btn {
  display: none;
}
@media (max-width: 768px) {
  #home .home__mobile--btn {
    display: block;
    padding: 10px 20px;
    background-color: #fa902ec9;
    border-radius: 7px;
    text-align: center;
    width: 9em;
    margin: auto;
    color: #F7F8FB;
    font-weight: 500;
    position: relative;
    top: 40%;
    box-shadow: 4px 4px 6px #0000008c;
  }
}

#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#about .about__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  height: 75vh;
}
@media (max-width: 768px) {
  #about .about__container {
    width: 100%;
    height: 90%;
    flex-direction: column;
    padding: 0px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #about .about__container {
    flex-direction: column;
    justify-content: space-around;
  }
}
#about .about__container .about__info {
  z-index: 2;
  width: 45%;
}
@media (max-width: 768px) {
  #about .about__container .about__info {
    width: 17em;
    margin: auto;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #about .about__container .about__info {
    width: 100%;
  }
}
#about .about__container .about__info .about__tittle {
  color: #F7F8FB;
}
#about .about__container .about__info .about__tittle span {
  border-bottom: 5px solid #FA902E;
  border-radius: 4px 0;
}
@media (max-width: 768px) {
  #about .about__container .about__info .about__tittle {
    font-size: 30px;
    padding-top: 1.5em;
  }
}
#about .about__container .about__info .about__text {
  color: #F7F8FB;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  width: 490px;
  margin: 30px 0;
}
@media (max-width: 768px) {
  #about .about__container .about__info .about__text {
    font-size: 20px;
    width: 100%;
  }
}
#about .about__container .about__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 45%;
}
@media (max-width: 768px) {
  #about .about__container .about__logo {
    width: 20em;
    margin: auto;
    margin-bottom: 2em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #about .about__container .about__logo {
    width: 100%;
  }
}
#about .about__container .about__logo .about__img {
  --animate-duration: 15s;
  max-width: 90%;
  position: relative;
  left: 4em;
}
@media (max-width: 768px) {
  #about .about__container .about__logo .about__img {
    width: 90%;
    left: 0;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #about .about__container .about__logo .about__img {
    left: 0;
  }
}

#brands {
  background-color: #FA902E;
  height: 45vh;
}
@media (max-width: 768px) {
  #brands {
    height: 23em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #brands {
    height: 28vh;
  }
}
#brands .brands__tittle {
  color: #F7F8FB;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  padding: 40px 0;
}
#brands .brands__tittle span {
  border-bottom: 5px solid #5A93B9;
  border-radius: 4px 0;
}
@media (max-width: 768px) {
  #brands .brands__tittle {
    font-size: 22px;
    line-height: 1.5;
    width: 12em;
    margin: auto;
  }
}
#brands .owl-carousel {
  width: 80%;
  padding-top: 20px;
  margin: auto;
}
#brands .owl-carousel .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#brands .owl-carousel .item a img {
  max-width: 120px;
  transition: 0.3s;
}
#brands .owl-carousel .item a img:hover {
  transform: scale(1.1);
}
#brands .owl-carousel .owl-dot span {
  margin-top: 30px;
  background-color: #F7F8FB;
  transition: 0.5s;
}
#brands .owl-carousel .owl-dot:hover span {
  background-color: #5A93B9;
}

@keyframes produc {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes security_rotate {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  75% {
    transform: rotateY(-270deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
#innovations .innovation__tittle {
  color: #F7F8FB;
  text-align: center;
  padding: 50px 0 20px 0;
}
@media (max-width: 768px) {
  #innovations .innovation__tittle {
    font-size: 29px;
    text-align: left;
    line-height: 0;
    display: block;
    margin-left: 1.5em;
    width: 10em;
  }
}
#innovations .innovation__subtittle {
  color: #F7F8FB;
  font-size: 23px;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  padding: 10px 0 40px 0;
}
@media (max-width: 768px) {
  #innovations .innovation__subtittle {
    text-align: left;
    padding: 10px 40px 40px 40px;
    font-size: 18px;
  }
}
#innovations .innovation__boxs {
  display: grid;
  justify-content: center;
  grid-template-rows: none;
  grid-template-columns: repeat(4, 255px);
  grid-column-gap: 40px;
  grid-row-gap: 0;
  justify-self: normal;
  align-self: center;
}
@media (max-width: 768px) {
  #innovations .innovation__boxs {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #innovations .innovation__boxs {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    grid-column-gap: 10px;
    margin: auto;
    margin-bottom: 20px;
  }
}
#innovations .innovation__boxs .box__1 {
  grid-area: 1/1/2/2;
}
#innovations .innovation__boxs .box__2 {
  grid-area: 1/2/2/3;
}
#innovations .innovation__boxs .box__3 {
  grid-area: 1/3/2/4;
}
#innovations .innovation__boxs .box__4 {
  grid-area: 1/4/2/5;
}
#innovations .innovation__boxs .innovation__box {
  background-color: #F7F8FB;
  height: 135px;
  padding: 20px 19px 40px 19px;
  text-align: center;
  border-bottom: solid 7px #FA902E;
  border-radius: 10px;
  overflow: hidden;
  transition: height 1.3s;
}
#innovations .innovation__boxs .innovation__box:hover {
  height: 365px;
}
@media (max-width: 768px) {
  #innovations .innovation__boxs .innovation__box:hover {
    height: 340px;
  }
}
@media (max-width: 768px) {
  #innovations .innovation__boxs .innovation__box {
    margin-bottom: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #innovations .innovation__boxs .innovation__box {
    width: 35%;
    margin-bottom: 15px;
  }
}
#innovations .innovation__boxs .innovation__box img {
  max-width: 90px;
}
#innovations .innovation__boxs .innovation__box h3 {
  color: #FA902E;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 15px;
}
#innovations .innovation__boxs .innovation__box p {
  color: #5A93B9;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}
#innovations .innovation__boxs .box__2 .box__icon {
  animation-name: produc;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 6s;
}
#innovations .innovation__boxs .box__3 .box__icon {
  animation-name: security_rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 8s;
}
#innovations .innovations__factors {
  margin: 20px 0 70px 0;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: 420px repeat(4, 150px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-self: center;
  align-self: center;
}
@media (max-width: 768px) {
  #innovations .innovations__factors {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #innovations .innovations__factors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin: auto;
  }
}
#innovations .innovations__factors .innovation__factorinfo {
  background: #F7F8FB;
  grid-area: 1/1/3/2;
  padding: 20px 45px;
  text-align: left;
  border-radius: 10px;
  border-bottom: 10px solid #FA902E;
  transition: 0.7s;
}
#innovations .innovations__factors .innovation__factorinfo:hover {
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
}
#innovations .innovations__factors .innovation__factorinfo h3 {
  color: #FA902E;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  padding: 20px 0;
}
@media (max-width: 768px) {
  #innovations .innovations__factors .innovation__factorinfo h3 {
    font-size: 20px;
  }
}
#innovations .innovations__factors .innovation__factorinfo p {
  color: #5A93B9;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
}
#innovations .innovations__factors .innovation__factorinfo a {
  border: 1px solid #FA902E;
  border-radius: 3px;
  padding: 8px 13px;
  display: inline-block;
  margin-top: 25px;
  color: #FA902E;
  transition: background 0.5s;
}
#innovations .innovations__factors .innovation__factorinfo a:hover {
  background-color: #FA902E;
  color: #F7F8FB;
}
#innovations .innovations__factors .factor__1 {
  grid-area: 1/2/2/3;
}
#innovations .innovations__factors .factor__2 {
  grid-area: 1/3/2/4;
}
#innovations .innovations__factors .factor__3 {
  grid-area: 1/4/2/5;
}
#innovations .innovations__factors .factor__4 {
  grid-area: 2/2/3/3;
}
#innovations .innovations__factors .factor__5 {
  grid-area: 2/3/3/4;
}
#innovations .innovations__factors .factor__6 {
  grid-area: 2/4/3/5;
}
#innovations .innovations__factors .factor__7 {
  grid-area: 1/5/2/6;
}
#innovations .innovations__factors .factor__8 {
  grid-area: 2/5/3/6;
}
#innovations .innovations__factors .innovation__factor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #F7F8FB;
  color: #FA902E;
  border: 5px solid #FA902E;
  border-radius: 15em;
  padding: 20px;
  cursor: default;
  transition: 0.7s;
}
#innovations .innovations__factors .innovation__factor:hover {
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
}
#innovations .innovations__factors .innovation__factor:hover img {
  opacity: 0;
}
#innovations .innovations__factors .innovation__factor:hover .factor__descrip {
  opacity: 1;
}
#innovations .innovations__factors .innovation__factor img {
  max-width: 70px;
  transition: 0.5s;
}
#innovations .innovations__factors .innovation__factor .factor__descrip {
  color: #5A93B9;
  text-align: center;
  opacity: 0;
  position: absolute;
  transition: 0.5s;
}
#innovations .innovations__factors .innovation__factor .factor__descrip h4 {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  margin-top: 14px;
  line-height: 1;
}
@media (max-width: 768px) {
  #innovations .innovations__factors .innovation__factor .factor__descrip h4 {
    font-size: 19px;
  }
}
#innovations .innovations__factors .innovation__factor .factor__descrip h5 {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  margin: 3px;
}
@media (max-width: 768px) {
  #innovations .innovations__factors .innovation__factor .factor__descrip h5 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #innovations .innovations__factors .innovation__factor {
    flex-wrap: wrap;
    width: 8em;
    height: 8em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #innovations .innovations__factors .innovation__factor {
    width: 8em;
    height: 8em;
  }
}

#team {
  background-image: url(../img/team-bg.png);
  padding-bottom: 2em;
}
#team .team__tittle {
  color: #F7F8FB;
  text-align: center;
  padding-top: 50px;
}
@media (max-width: 768px) {
  #team .team__tittle {
    padding-top: 1.5em;
    font-size: 35px;
  }
}
#team .team__subtittle {
  color: #F7F8FB;
  font-size: 22px;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  padding: 25px 0 20px 0;
}
@media (max-width: 768px) {
  #team .team__subtittle {
    width: 85%;
    margin: auto;
    font-size: 19px;
    line-height: 1.5;
  }
}
#team .team__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 768px) {
  #team .team__container {
    flex-wrap: wrap;
  }
}
#team .team__container .team__boxizq {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 45%;
}
#team .team__container .team__boxizq:hover img {
  transform: translateX(-9em);
}
@media (max-width: 768px) {
  #team .team__container .team__boxizq:hover img {
    transform: translateX(-5.5em);
  }
}
#team .team__container .team__boxizq:hover .team__info--izq {
  opacity: 1;
}
@media (max-width: 768px) {
  #team .team__container .team__boxizq {
    width: 100%;
  }
}
#team .team__container .team__boxizq img {
  max-width: 250px;
  position: relative;
  left: 10em;
  z-index: 3;
  transition: 1s;
}
@media (max-width: 768px) {
  #team .team__container .team__boxizq img {
    left: 6em;
    max-width: 180px;
    height: 350px;
  }
}
#team .team__container .team__boxizq .team__info--izq {
  padding: 20px;
  opacity: 0;
  transition: opacity 1.5s;
}
@media (max-width: 768px) {
  #team .team__container .team__boxizq .team__info--izq {
    padding: 0;
    position: relative;
    right: 1em;
    top: 2em;
  }
}
#team .team__container .team__boxizq .team__info--izq h4 {
  color: #F7F8FB;
  font-size: 33px;
  margin: 50px 0 0 0;
  padding: 0;
}
@media (max-width: 768px) {
  #team .team__container .team__boxizq .team__info--izq h4 {
    font-size: 25px;
    margin: 0;
  }
}
#team .team__container .team__boxizq .team__info--izq h5 {
  display: inline-block;
  color: #F7F8FB;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 15px 0px;
}
@media (max-width: 768px) {
  #team .team__container .team__boxizq .team__info--izq h5 {
    font-size: 18px;
    margin: 5px 0;
  }
}
#team .team__container .team__boxizq .team__info--izq p {
  color: #F7F8FB;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  text-align: left;
  width: 215px;
}
@media (max-width: 768px) {
  #team .team__container .team__boxizq .team__info--izq p {
    font-size: 15px;
    width: 165px;
    padding: 10px;
  }
}
#team .team__container .team__boxder {
  display: flex;
  justify-content: center;
  text-align: right;
  padding: 20px;
  width: 45%;
}
#team .team__container .team__boxder:hover img {
  transform: translateX(9em);
}
@media (max-width: 768px) {
  #team .team__container .team__boxder:hover img {
    transform: translateX(4.5em);
  }
}
#team .team__container .team__boxder:hover .team__info--der {
  opacity: 1;
}
@media (max-width: 768px) {
  #team .team__container .team__boxder {
    width: 100%;
  }
}
#team .team__container .team__boxder img {
  max-width: 250px;
  position: relative;
  right: 10em;
  transition: 1s;
}
@media (max-width: 768px) {
  #team .team__container .team__boxder img {
    max-width: 180px;
    height: 350px;
    right: 5em;
  }
}
#team .team__container .team__boxder .team__info--der {
  padding: 20px;
  opacity: 0;
  transition: opacity 1.5s;
}
@media (max-width: 768px) {
  #team .team__container .team__boxder .team__info--der {
    padding: 0;
    position: relative;
    left: 1em;
  }
}
#team .team__container .team__boxder .team__info--der h4 {
  color: #F7F8FB;
  font-size: 33px;
  margin: 50px 0 0 0;
  padding: 0;
}
@media (max-width: 768px) {
  #team .team__container .team__boxder .team__info--der h4 {
    font-size: 25px;
  }
}
#team .team__container .team__boxder .team__info--der h5 {
  display: inline-block;
  color: #F7F8FB;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 15px 0px;
}
@media (max-width: 768px) {
  #team .team__container .team__boxder .team__info--der h5 {
    font-size: 18px;
    margin: 5px 0;
  }
}
#team .team__container .team__boxder .team__info--der p {
  color: #F7F8FB;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  text-align: right;
  width: 215px;
}
@media (max-width: 768px) {
  #team .team__container .team__boxder .team__info--der p {
    font-size: 15px;
    width: 165px;
    padding: 10px 0px 0px 5px;
  }
}
@media (max-width: 768px) {
  #team .team__container .team__boxder .team__info--der .team__info--modificar {
    padding: 5px 18px 5px 2px;
  }
}

#gallery .gallery__tittle {
  color: #F7F8FB;
  letter-spacing: 2px;
  padding: 50px 0 20px 0;
  text-align: center;
}
@media (max-width: 768px) {
  #gallery .gallery__tittle {
    padding-top: 1.5em;
    font-size: 35px;
  }
}
#gallery .gallery__subtittle {
  color: #F7F8FB;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  padding-top: 15px;
}
@media (max-width: 768px) {
  #gallery .gallery__subtittle {
    padding: 15px 20px 20px 20px;
  }
}
#gallery .gallery__images {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 300px) 400px;
  grid-template-columns: 450px repeat(2, 300px);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-self: center;
  align-self: center;
  list-style: none;
  padding: 50px;
}
@media (max-width: 768px) {
  #gallery .gallery__images {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #gallery .gallery__images {
    grid-template-columns: 35% repeat(2, 30%);
    grid-template-rows: repeat(3, 24%) 33%;
  }
}
#gallery .gallery__images .gallery__img1, #gallery .gallery__images .gallery__img2, #gallery .gallery__images .gallery__img3, #gallery .gallery__images .gallery__img4, #gallery .gallery__images .gallery__img5, #gallery .gallery__images .gallery__img6, #gallery .gallery__images .gallery__img7, #gallery .gallery__images .gallery__img8 {
  border: 3px solid #5A93B9;
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s;
}
#gallery .gallery__images .gallery__img1:hover, #gallery .gallery__images .gallery__img2:hover, #gallery .gallery__images .gallery__img3:hover, #gallery .gallery__images .gallery__img4:hover, #gallery .gallery__images .gallery__img5:hover, #gallery .gallery__images .gallery__img6:hover, #gallery .gallery__images .gallery__img7:hover, #gallery .gallery__images .gallery__img8:hover {
  border: 3px solid #FA902E;
  box-shadow: 3px 3px 3px #0000004a;
}
#gallery .gallery__images .gallery__img1:hover .gallery_info, #gallery .gallery__images .gallery__img2:hover .gallery_info, #gallery .gallery__images .gallery__img3:hover .gallery_info, #gallery .gallery__images .gallery__img4:hover .gallery_info, #gallery .gallery__images .gallery__img5:hover .gallery_info, #gallery .gallery__images .gallery__img6:hover .gallery_info, #gallery .gallery__images .gallery__img7:hover .gallery_info, #gallery .gallery__images .gallery__img8:hover .gallery_info {
  opacity: 1;
}
#gallery .gallery__images .gallery__img1 .gallery_info, #gallery .gallery__images .gallery__img2 .gallery_info, #gallery .gallery__images .gallery__img3 .gallery_info, #gallery .gallery__images .gallery__img4 .gallery_info, #gallery .gallery__images .gallery__img5 .gallery_info, #gallery .gallery__images .gallery__img6 .gallery_info, #gallery .gallery__images .gallery__img7 .gallery_info, #gallery .gallery__images .gallery__img8 .gallery_info {
  background: #fa902e;
  background: linear-gradient(0deg, #fa902e 0%, rgba(250, 144, 46, 0) 100%);
  width: 100%;
  height: 16em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: left;
  padding: 19px;
  text-align: left;
  opacity: 0;
  transition: 0.6s;
}
#gallery .gallery__images .gallery__img1 .gallery_info h4, #gallery .gallery__images .gallery__img2 .gallery_info h4, #gallery .gallery__images .gallery__img3 .gallery_info h4, #gallery .gallery__images .gallery__img4 .gallery_info h4, #gallery .gallery__images .gallery__img5 .gallery_info h4, #gallery .gallery__images .gallery__img6 .gallery_info h4, #gallery .gallery__images .gallery__img7 .gallery_info h4, #gallery .gallery__images .gallery__img8 .gallery_info h4 {
  color: #F7F8FB;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin: 0.5em 0;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img1 .gallery_info h4, #gallery .gallery__images .gallery__img2 .gallery_info h4, #gallery .gallery__images .gallery__img3 .gallery_info h4, #gallery .gallery__images .gallery__img4 .gallery_info h4, #gallery .gallery__images .gallery__img5 .gallery_info h4, #gallery .gallery__images .gallery__img6 .gallery_info h4, #gallery .gallery__images .gallery__img7 .gallery_info h4, #gallery .gallery__images .gallery__img8 .gallery_info h4 {
    font-size: 21px;
  }
}
#gallery .gallery__images .gallery__img1 .gallery_info p, #gallery .gallery__images .gallery__img2 .gallery_info p, #gallery .gallery__images .gallery__img3 .gallery_info p, #gallery .gallery__images .gallery__img4 .gallery_info p, #gallery .gallery__images .gallery__img5 .gallery_info p, #gallery .gallery__images .gallery__img6 .gallery_info p, #gallery .gallery__images .gallery__img7 .gallery_info p, #gallery .gallery__images .gallery__img8 .gallery_info p {
  color: #F7F8FB;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  width: 90%;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img1 .gallery_info p, #gallery .gallery__images .gallery__img2 .gallery_info p, #gallery .gallery__images .gallery__img3 .gallery_info p, #gallery .gallery__images .gallery__img4 .gallery_info p, #gallery .gallery__images .gallery__img5 .gallery_info p, #gallery .gallery__images .gallery__img6 .gallery_info p, #gallery .gallery__images .gallery__img7 .gallery_info p, #gallery .gallery__images .gallery__img8 .gallery_info p {
    font-size: 16px;
  }
}
#gallery .gallery__images .gallery__img1 {
  background: url(../img/Gallery/out1.png);
  grid-area: 1/1/2/2;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img1 {
    background-position-x: -7em;
  }
}
#gallery .gallery__images .gallery__img2 {
  background: url(../img/Gallery/out2.png);
  grid-area: 1/2/2/3;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img2 {
    background-size: cover;
  }
}
#gallery .gallery__images .gallery__img3 {
  background: url(../img/Gallery/out3.png);
  grid-area: 1/3/2/4;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img3 {
    background-size: cover;
  }
}
#gallery .gallery__images .gallery__img4 {
  background: url(../img/Gallery/out4.png);
  grid-area: 2/1/4/2;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img4 {
    height: 38em;
  }
}
#gallery .gallery__images .gallery__img5 {
  grid-area: 2/2/3/4;
}
#gallery .gallery__images .gallery__img6 {
  background: url(../img/Gallery/out6.png);
  grid-area: 3/2/4/4;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img6 {
    height: 200px;
    background-size: cover;
  }
}
#gallery .gallery__images .gallery__img7 {
  background: url(../img/Gallery/out7.png);
  background-size: cover;
  grid-area: 4/2/5/4;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img7 {
    height: 200px;
    background-size: cover;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #gallery .gallery__images .gallery__img7 {
    margin-bottom: 3em;
  }
}
#gallery .gallery__images .gallery__img8 {
  background: url(../img/Gallery/out8.png);
  background-size: cover;
  grid-area: 4/1/5/2;
}
@media (max-width: 768px) {
  #gallery .gallery__images .gallery__img8 {
    height: 230px;
    background-size: cover;
    margin-bottom: 4em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #gallery .gallery__images .gallery__img8 {
    height: 22em;
  }
}

#contact {
  background-image: url("../img/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#contact .modal {
  position: fixed;
  margin: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  z-index: 3;
}
#contact .modal .modal__contenido {
  background-color: #5a93b9d9;
  border: 3px solid #FA902E;
  border-radius: 10px;
  width: 22em;
  margin: auto;
  padding: 10px 10px;
  position: relative;
}
#contact .modal .modal__contenido .modal__close {
  color: #F7F8FB;
  padding: 10px;
  background: #292828;
  position: absolute;
  bottom: 2%;
  z-index: 4;
  border-radius: 5px;
}
#contact .modal .modal__contenido h4 {
  color: #F7F8FB;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin: 16px 0px 6px 0px;
}
#contact .modal .modal__contenido input[type=text] {
  padding: 10px;
  width: 100%;
  background: transparent;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  transition: 0.6s;
}
#contact .modal .modal__contenido label {
  color: #F7F8FB;
  font-family: "Quicksand", sans-serif;
}
#contact .modal .modal__contenido select {
  padding: 8px 2px;
  background: transparent;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  color: #F7F8FB;
}
#contact .modal .modal__contenido select option {
  color: #FA902E;
}
#contact .modal .modal__contenido input#mujer {
  margin-right: 10px;
}
#contact .modal .modal__contenido input#hombre {
  margin-right: 10px;
}
#contact .modal .modal__contenido textarea {
  width: 100%;
  background: transparent;
  padding: 10px;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  transition: 0.6s;
}
#contact .modal .modal__contenido input[type=email] {
  padding: 7px 3px;
  margin-bottom: 15px;
  background: transparent;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  color: #F7F8FB;
  width: 17em;
}
#contact .modal .modal__contenido input[type=submit] {
  color: #5A93B9;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-color: #F7F8FB;
  padding: 10px 6px;
  border: none;
  border-radius: 5px;
  position: relative;
  left: 49%;
  transition: 0.6s;
}
#contact .modal .modal__contenido input[type=submit]:hover {
  background: limegreen;
  color: white;
  box-shadow: 3px 3px 3px #0000003d;
}
#contact .modal .modal__contenido input[type=reset] {
  color: #F7F8FB;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  background-color: #FA902E;
  padding: 10px 15px;
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 5px;
  position: relative;
  left: 46%;
  transition: 0.6s;
}
#contact .modal .modal__contenido input[type=reset]:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 3px #0000003d;
}
#contact .modal .modal__contenido ::placeholder {
  color: #F7F8FB;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
#contact #miModal:target {
  opacity: 1;
  pointer-events: auto;
}
#contact .contact__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  margin: auto;
  width: 70em;
}
@media (max-width: 768px) {
  #contact .contact__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #contact .contact__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
#contact .contact__container .contact__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  width: 45%;
}
@media (max-width: 768px) {
  #contact .contact__container .contact__text {
    width: 16em;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #contact .contact__container .contact__text {
    align-items: center;
    text-align: center;
  }
}
#contact .contact__container .contact__text h1 {
  color: #F7F8FB;
}
@media (max-width: 768px) {
  #contact .contact__container .contact__text h1 {
    font-size: 35px;
    margin-top: 0.5em;
  }
}
#contact .contact__container .contact__text p {
  color: #F7F8FB;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  text-align: left;
  width: 21.5em;
  margin: 30px 0;
}
@media (max-width: 768px) {
  #contact .contact__container .contact__text p {
    width: 100%;
    font-size: 17px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #contact .contact__container .contact__text p {
    width: 100%;
    text-align: center;
  }
}
#contact .contact__container .contact__text .btn__backhome--contact {
  margin: 0;
  top: 15em;
}
#contact .contact__container .modal__btn {
  display: none;
}
@media (max-width: 768px) {
  #contact .contact__container .modal__btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #F7F8FB;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    width: 10em;
    padding: 10px 15px;
    background-color: #FA902E;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #00000036;
    margin: auto;
  }
  #contact .contact__container .modal__btn img {
    max-width: 50px;
    margin: 7px;
  }
}
#contact .contact__container .contact__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45%;
}
@media (max-width: 768px) {
  #contact .contact__container .contact__form {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #contact .contact__container .contact__form {
    align-items: center;
    margin-top: 40px;
  }
}
#contact .contact__container .contact__form h3 {
  color: #F7F8FB;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 1em;
}
#contact .contact__container .contact__form h4 {
  color: #F7F8FB;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}
#contact .contact__container .contact__form form {
  width: 22em;
}
#contact .contact__container .contact__form form input[type=text] {
  padding: 10px;
  width: 100%;
  background: transparent;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: 0.6s;
}
#contact .contact__container .contact__form form input[type=text]:focus {
  transform: scale(1.05);
}
#contact .contact__container .contact__form form label {
  color: #F7F8FB;
  font-family: "Quicksand", sans-serif;
}
#contact .contact__container .contact__form form select {
  padding: 8px 2px;
  background: transparent;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  color: #F7F8FB;
  margin-bottom: 15px;
}
#contact .contact__container .contact__form form select option {
  color: #FA902E;
}
#contact .contact__container .contact__form form input#mujer {
  margin: 0 30px 25px 0;
}
#contact .contact__container .contact__form form input#hombre {
  margin-right: 30px;
}
#contact .contact__container .contact__form form textarea {
  width: 100%;
  background: transparent;
  padding: 10px;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  transition: 0.6s;
}
#contact .contact__container .contact__form form textarea:focus {
  transform: scale(1.05);
}
#contact .contact__container .contact__form form input[type=email] {
  padding: 7px 3px;
  background: transparent;
  border: 2px solid #F7F8FB;
  border-radius: 5px;
  color: #F7F8FB;
  margin: 1em 0 2em 0;
  width: 16.7em;
}
#contact .contact__container .contact__form form input[type=submit] {
  color: #5A93B9;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-color: #F7F8FB;
  padding: 10px 6px;
  border: none;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
}
#contact .contact__container .contact__form form input[type=submit]:hover {
  background: limegreen;
  color: #F7F8FB;
  box-shadow: 3px 3px 3px #0000003d;
}
#contact .contact__container .contact__form form input[type=reset] {
  color: #F7F8FB;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-color: #FA902E;
  padding: 10px 15px;
  margin-right: 11.5em;
  border: none;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
}
#contact .contact__container .contact__form form input[type=reset]:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 3px #0000003d;
}
#contact .contact__container .contact__form form ::placeholder {
  color: #F7F8FB;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

#footer {
  background-color: #F7F8FB;
}
@media (max-width: 768px) {
  #footer {
    width: 100%;
    background-color: #F7F8FB;
    background-image: none;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #footer {
    width: 100%;
  }
}
#footer .footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0 30px 0;
  margin: auto;
  width: 1000px;
}
@media (max-width: 768px) {
  #footer .footer__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #footer .footer__container {
    width: 100%;
    justify-content: center;
  }
}
#footer .footer__container .footer__box {
  padding: 20px;
}
@media (max-width: 768px) {
  #footer .footer__container .footer__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#footer .footer__container .footer__box h3 {
  color: #5A93B9;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin: 20px 0;
}
@media (max-width: 768px) {
  #footer .footer__container .footer__box h3 {
    text-align: center;
  }
}
#footer .footer__container .footer__box p {
  color: #5A93B9;
  font-size: 17px;
  margin: 10px 0;
}
#footer .footer__container .footer__box ul {
  display: flex;
}
#footer .footer__container .footer__box ul li {
  padding: 15px 25px 0px 0px;
}
@media (max-width: 768px) {
  #footer .footer__container .footer__box ul li {
    padding: 15px;
  }
}
#footer .footer__container .footer__box ul li img {
  max-width: 40px;
  transition: 0.3s;
}
#footer .footer__container .footer__box ul li img:hover {
  transform: scale(1.1);
}
#footer .footer__container .footer__box form {
  color: #5A93B9;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}
#footer .footer__container .footer__box form ::placeholder {
  color: #5A93B9;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}
#footer .footer__container .footer__box form input[type=email] {
  background: transparent;
  border: 1px solid #5A93B9;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 10px;
}
#footer .footer__container .footer__box form input[type=submit] {
  color: #F7F8FB;
  font-size: 18px;
  background: #5A93B9;
  border: none;
  border-radius: 0px 6px 6px 0px;
  padding: 6px 11px;
  position: relative;
  left: -9px;
  top: 1px;
  transition: 0.7s;
}
#footer .footer__container .footer__box form input[type=submit]:hover {
  background-color: #47d83d;
}
@media (max-width: 768px) {
  #footer .footer__container .footer__box form input[type=submit] {
    margin-bottom: 20px;
  }
}
#footer .footer__copyright {
  height: 5em;
  background: #292828;
  margin-top: -6px;
}
#footer .footer__copyright p {
  color: #F7F8FB;
  text-align: center;
  position: relative;
  top: 2em;
}
@media (max-width: 768px) {
  #footer .footer__copyright p {
    font-size: 13px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #footer .footer__copyright {
    height: 7vh;
  }
}